###############################################################
#          jupyter/jupyterlab extensions/kernels              #
###############################################################

# ipython-sql
sqlalchemy
ipython-sql
jupyterlab_sql
mysqlclient

xeus-sql=0.1.5
soci-mysql
soci-core
